.navbar{

    background:white;

    box-shadow:var(--shadow);

    position:sticky;

    top:0;

    z-index:1000;

}

.navbar-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:75px;

}

.logo{

    color:var(--primary-color);

    font-size:1.8rem;

    font-weight:bold;

}

.nav-links{

    display:flex;

    gap:2rem;

}

.nav-links a{

    font-weight:600;

    transition:var(--transition);

}

.nav-links a:hover{

    color:var(--primary-color);

}